header {
  display: flex;
  padding-inline: 16px;
  padding-block: 8px;
  background-color: #4d4d4d;
  color: white;
  align-items: center;
  justify-content: space-between;
}

nav { 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav span:hover {
  cursor: pointer;
  color: #777;

}
ul {
  list-style: none;
}

ul li:hover {
  color: #777; /* Change text color on hover */
  cursor: pointer; /* Show pointer cursor */
}
